<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Post</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
  <h1>Create New Post</h1>
  <form method="POST" action="/posts">
    <input name="username" placeholder="Enter Username" required />
    <br><br>
    <textarea name="post" placeholder="Post description" required></textarea>
    <br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>

