<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Posts</h1>
    <h3> your id:<%= post.id %></h3>
    <div>
        <p> Username=<%=post.username %></p>
        <p> Post= <%= post.post %></p>
          <a href="/posts/">← Back to all posts</a>
    </div>
</body>
</html>